
li {
  list-style-type: none;
}

h1{
  text-align: center;
}

.post {
  position: relative;  
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #E1E8ED;
  background-color:rgb(211, 210, 215);
  width: 50%;
  margin: 10px auto;
  border-radius: 7px;
}

.post-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
  align-items: center;
  margin-bottom: 4px;
}

.post-header .post-user {
  font-weight: bold;
  color: #14171A;
  text-decoration: none;
  margin-right: 4px;
}

.post-header .post-user-link {
  color: #3608ef;
}

.post-header .timestamp {
  color: #3608ef;;
  margin-left: 10px
}

.post-body {
  margin-bottom: 4px;
  text-align: center;
}

.post-body p {
  font-style: italic;
  text-align: left;  
  margin-bottom: 4px;
}

.post-body p:first-letter {
  text-transform: uppercase
} 

.post-body h3 {
  text-align: left;  
  margin-bottom: 4px;
}

.post-body h3:first-letter {
  text-transform: uppercase
}

.post-footer {
  display: flex;
  justify-content: space-between;
  color: #657786;
  font-size: 20px;
  margin-top: 4px;
}

.post-footer a {
  text-decoration: none;
  color: #161b1e;
  margin-right: 12px;
}

.icon{
    width: 12%;
    margin-right: 1%;
}

.btnDel {
    display: block;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 10%;
    position: absolute;
    right: 0;
    bottom: 5%;
    cursor: pointer;
}


